:root {
  /* Palette Colori */
  --white: #ffffff;
  --danger: #ff4757;
  --primary: #fb6237;
  --secondary: #fac400;
  --background-light: #fff8dc;
  --background-dark: #2c2a26;
  --background-accent: #e9ff99;
  --accent: #d3ff33;
  --tab-button-color: #aaaaaa;
  /* Font e Tipografia */
  --font-main: 'Urbanist', sans-serif;
  --text-sm: 12px;
  --text-base: 15px;
  --text-xl: 22px;
  
  /* Spaziature e Bordi */
  --radius-round: 50px;
  --radius-card: 18px;
}

/* Stile base per tutta l'app */
body {
  background-color: var(--background-dark, #2c2a26);
  color: var(--background-light, #fff8dc);
  font-family: var(--font-main);
  margin: 0;
}